<div class="container">
    <div class="row mb-3">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            placeholder="ID"
            [(ngModel)]="id"
          />
        </div>
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            placeholder="Название"
            [(ngModel)]="name"
          />
        </div>
        <div class="col-4">
          <select class="custom-select" [(ngModel)]="status">
            <option [ngValue]="'green'">Включен</option>
            <option [ngValue]="'red'">Выключен</option>
          </select>
        </div>
        <div class="col-12 mt-3">
          <button 
            class="btn btn-primary btn-lg btn-block" 
            (click)="onAddCard()"
          >
          ДОБАВИТЬ
          </button>
        </div>
      </div>
</div>
